## Analysis of Web Development Courses From Udemy

Udemy is massive online open course platform. Udemy provide course on nearly on any topics. 
We will analysis Web Development courses udemy offers. 

Dataset Source: https://data.world/chasewillden/web-development-courses-from-udemy

### Part One : Data Cleansing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('WebDevelopment.csv')
df.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Is Paid,Total,Percent
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,NaN,NaN,Yes,1067.0,89%
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50,47886,285,125,All Levels,12.5 hours,2012-06-18T16:52:34Z,NaN,NaN,No,133.0,11%
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,True,50,2577,529,64,All Levels,4.5 hours,2016-06-30T16:57:08Z,NaN,NaN,NaN,NaN,NaN
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,True,60,8777,206,75,Intermediate Level,15.5 hours,2014-06-17T05:43:50Z,NaN,NaN,NaN,NaN,NaN
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,True,20,23764,490,58,Beginner Level,5.5 hours,2015-10-17T04:52:25Z,NaN,NaN,NaN,NaN,NaN

## Let's get the Basic information about Dataset

In [3]:
df.shape

(1200, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
id                      1200 non-null int64
title                   1200 non-null object
url                     1200 non-null object
isPaid                  1200 non-null bool
price                   1200 non-null object
numSubscribers          1200 non-null int64
numReviews              1200 non-null int64
numPublishedLectures    1200 non-null int64
instructionalLevel      1200 non-null object
contentInfo             1200 non-null object
publishedTime           1200 non-null object
Unnamed: 11             0 non-null float64
Unnamed: 12             0 non-null float64
Is Paid                 2 non-null object
Total                   2 non-null float64
Percent                 2 non-null object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 141.9+ KB

In [5]:
df.describe()

,id,numSubscribers,numReviews,numPublishedLectures,Unnamed: 11,Unnamed: 12,Total
count,1.200000e+03,1200.000000,1200.000000,1200.00000,0.0,0.0,2.000000
mean,7.068543e+05,6650.476667,358.354167,52.81750,NaN,NaN,600.000000
std,3.289244e+05,14613.648207,1574.814468,62.81375,NaN,NaN,660.437734
min,8.324000e+03,19.000000,0.000000,5.00000,NaN,NaN,133.000000
25%,4.757115e+05,1127.500000,25.000000,19.00000,NaN,NaN,366.500000
50%,7.384560e+05,2416.500000,65.000000,32.00000,NaN,NaN,600.000000
75%,9.752715e+05,6894.750000,179.250000,63.25000,NaN,NaN,833.500000
max,1.277924e+06,268923.000000,27445.000000,779.00000,NaN,NaN,1067.000000

In [6]:
df.columns

Index(['id', 'title', 'url', 'isPaid', 'price', 'numSubscribers', 'numReviews',
       'numPublishedLectures', 'instructionalLevel', 'contentInfo',
       'publishedTime', 'Unnamed: 11', 'Unnamed: 12', 'Is Paid', 'Total',
       'Percent'],
      dtype='object')

Last 5 columns, we will remove from the dataset as we are not concern about those in this analysis. ( 'Is paid' column is same as 'isPaid')

In [7]:
df.drop(['Unnamed: 11', 'Unnamed: 12', 'Is Paid', 'Total', 'Percent'], axis=1, inplace=True)

In [8]:
df.columns

Index(['id', 'title', 'url', 'isPaid', 'price', 'numSubscribers', 'numReviews',
       'numPublishedLectures', 'instructionalLevel', 'contentInfo',
       'publishedTime'],
      dtype='object')

Let's change the column name into more readable formate.

In [9]:
new_col = { 
    'isPaid': 'is_paid',  
    'numSubscribers' : 'num_subscribers', 
    'numReviews' : 'num_reviews' ,
    'numPublishedLectures' : 'num_published_lectures', 
    'instructionalLevel' : 'instructional_level', 
    'contentInfo' : 'content_info' ,
    'publishedTime' : 'published_time'   
}

for each in (df.columns):
    for col in new_col:
        if each == col:
            df.rename({each : new_col[each]}, axis=1, inplace=True)

In [10]:
df.columns

Index(['id', 'title', 'url', 'is_paid', 'price', 'num_subscribers',
       'num_reviews', 'num_published_lectures', 'instructional_level',
       'content_info', 'published_time'],
      dtype='object')

In [11]:
df.head()

,id,title,url,is_paid,price,num_subscribers,num_reviews,num_published_lectures,instructional_level,content_info,published_time
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50,47886,285,125,All Levels,12.5 hours,2012-06-18T16:52:34Z
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,True,50,2577,529,64,All Levels,4.5 hours,2016-06-30T16:57:08Z
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,True,60,8777,206,75,Intermediate Level,15.5 hours,2014-06-17T05:43:50Z
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,True,20,23764,490,58,Beginner Level,5.5 hours,2015-10-17T04:52:25Z

### Lets check if there is any null values in any column.

In [12]:
df[df.columns].isnull().sum()

id                        0
title                     0
url                       0
is_paid                   0
price                     0
num_subscribers           0
num_reviews               0
num_published_lectures    0
instructional_level       0
content_info              0
published_time            0
dtype: int64

As we can see that there is no null values in any columns.

### Lets check the Data type of column. If it is necessary to change, we will change reasonable dtype.

In [13]:
df.dtypes

id                         int64
title                     object
url                       object
is_paid                     bool
price                     object
num_subscribers            int64
num_reviews                int64
num_published_lectures     int64
instructional_level       object
content_info              object
published_time            object
dtype: object

In [14]:
df[['price','content_info','published_time']]

     price content_info        published_time
0       75      4 hours  2013-01-03T00:55:31Z
1       50   12.5 hours  2012-06-18T16:52:34Z
2       50    4.5 hours  2016-06-30T16:57:08Z
3       60   15.5 hours  2014-06-17T05:43:50Z
4       20    5.5 hours  2015-10-17T04:52:25Z
...    ...          ...                   ...
1195   100      2 hours  2016-06-14T17:36:46Z
1196    25    3.5 hours  2017-03-10T22:24:30Z
1197    40    3.5 hours  2015-12-30T16:41:42Z
1198    50      3 hours  2016-08-11T19:06:15Z
1199    45      2 hours  2014-09-28T19:51:11Z

[1200 rows x 3 columns]

We can see that price, content_info has the numerical values and published_time have Data and Time value. 
Below we will change the price, content_info to 'int' dtype and we will create a new column with only with published date.

In [15]:
# changing price column to int type.
# There are 133 free course. For this purpose we will change 'Free' to '0'.
df.loc[df['price'] == 'Free', 'price'] = 0

In [16]:
df['price'].astype(int)

0        75
1        50
2        50
3        60
4        20
       ...
1195    100
1196     25
1197     40
1198     50
1199     45
Name: price, Length: 1200, dtype: int64

In [17]:
df['content_info'] = df['content_info'].str.split().str[0].astype(float)

In [18]:
df['content_info']

0        4.0
1       12.5
2        4.5
3       15.5
4        5.5
        ...
1195     2.0
1196     3.5
1197     3.5
1198     3.0
1199     2.0
Name: content_info, Length: 1200, dtype: float64

In [19]:
df['publised_date'] = df['published_time'].str.split('T').str[0]

In [20]:
df['publised_date']

0       2013-01-03
1       2012-06-18
2       2016-06-30
3       2014-06-17
4       2015-10-17
           ...
1195    2016-06-14
1196    2017-03-10
1197    2015-12-30
1198    2016-08-11
1199    2014-09-28
Name: publised_date, Length: 1200, dtype: object

In [21]:
df.head()

,id,title,url,is_paid,price,num_subscribers,num_reviews,num_published_lectures,instructional_level,content_info,published_time,publised_date
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4.0,2013-01-03T00:55:31Z,2013-01-03
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50,47886,285,125,All Levels,12.5,2012-06-18T16:52:34Z,2012-06-18
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,True,50,2577,529,64,All Levels,4.5,2016-06-30T16:57:08Z,2016-06-30
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,True,60,8777,206,75,Intermediate Level,15.5,2014-06-17T05:43:50Z,2014-06-17
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,True,20,23764,490,58,Beginner Level,5.5,2015-10-17T04:52:25Z,2015-10-17

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 12 columns):
id                        1200 non-null int64
title                     1200 non-null object
url                       1200 non-null object
is_paid                   1200 non-null bool
price                     1200 non-null object
num_subscribers           1200 non-null int64
num_reviews               1200 non-null int64
num_published_lectures    1200 non-null int64
instructional_level       1200 non-null object
content_info              1200 non-null float64
published_time            1200 non-null object
publised_date             1200 non-null object
dtypes: bool(1), float64(1), int64(4), object(6)
memory usage: 104.4+ KB

### Part Two : Data Analysis

In [23]:
# Below are the top technologies for web development.

front_end = ['HTML5', 'CSS3', 'JavaScript', 'AngularJs', 'ReactJs', 'jQuery', 'Bootstrap', 'Wordpress']
back_end = ['PHP', 'Ruby', 'Python', 'Java', 'C#', '.Net', 'Node.JS', 'Django']
database = ['MySql', 'SQL', 'MangoDB']

In [31]:
# Let find how many courses are there which include atlest one of those technologies.
courses = {}

for each in front_end:
    each = each.lower()
    print(each)

html5
css3
javascript
angularjs
reactjs
jquery
bootstrap
wordpress